::-webkit-scrollbar {
    width: 10px;
    z-index: 700;
}

::-webkit-scrollbar-track {
    background-color: rgb(17, 17, 17);
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {
    background: rgb(29, 29, 29);
    border-radius: 10px;
}

/*//////////////// NAV BAR ///////////////////////*/
.navdiv {
    background-color: rgb(7, 7, 10);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
}

.logo {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 24px;
    margin-right: -24px;
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25vw);
}

.logo:hover {
    font-size: 1.1rem;
    font-weight: bolder;
}

.last-nav {
    padding-right: 40px;

    @media (width <=400px) {
        padding-right: 20px;
    }
}

li {
    list-style: none;
    display: inline-block;
    position: relative;
}

li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25vw);
    color: white;
    background-attachment: fixed;
    padding-left: 24px;
    padding-right: 24px;
    display: block;
    text-align: center;

    @media (width <=960px) {
        padding-left: 1px;
        padding-right: 6px;
    }
}

li a:hover {
    font-size: clamp(1rem, 1.1rem + 0.25vw, 1.25vw);
    font-weight: bold;

    @media (width <=960px) {
        font-weight: bold;
        font-size: 1.1rem;
    }

    @media (width <=400px) {
        font-weight: bold;
        font-size: 0.9rem;
    }
}

ul.dropdown li {
    display: block;
}

ul.dropdown li a {
    margin-left: -60px;
    padding: 10px 15px 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25vw);
    background-color: rgb(7, 7, 10);

    @media (width <=400px) {
        padding: 10px 5px 15px;
        font-size: 0.8rem;
        margin-left: -58px;
    }
}

ul.dropdown li.top-link a {
    padding-top: 25px;
}

.dropdown {
    position: absolute;
    z-index: 700;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul li:hover .dropdown {
    display: block;
}


ul li:hover .dropdown a:hover {
    font-weight: bolder;
}

/*//////////////// HERO PAGE ///////////////////////*/
.hero-sect {
    background-image: url('../images/hero-back.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    @media (width <=1350px) {
        background-image: url('../images/hero-back-mobile.jpg');
    }
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: calc(2.25rem + 8vw);
    text-align: center;
}

h1.title-top {
    margin-top: 0px;
    padding-top: calc(100px + 6vw);
    margin-bottom: calc(-36px - 8vw);
    letter-spacing: -0.5rem;

    @media (width < 960px) {
        padding-top: calc(125px + 6vw);
    }
}

h1.title-bottom {
    margin-bottom: calc(-10px - 0.8vw);
    letter-spacing: -0.5rem;
}

h1.subtitle {
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: auto;
    padding-bottom: calc(100px + 6vw);
}

/*//////////////// KEYFRAMES! SECTION ///////////////////////*/
@keyframes appear-slideRight {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes appear-slideLeft {
    from {
        opacity: 0;
        transform: translateX(15%);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes appear-slideUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes appear-fade {
    from {
        opacity: 0;
        scale: 0.5;
        filter: blur(2.5px);
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes loading {
    0%   {width: 0%  }
    10%  {width: 20% }
    25%  {width: 25% }
    35%  {width: 45% }
    50%  {width: 55% }
    60%  {width: 75% }
    75%  {width: 80% }
    85%  {width: 90% }
    100% {width: 100%}
}

@keyframes lineLoad {
    from {
        width: 0;
    }

    to {
        width: 75%;
    }
}

@keyframes colorLoad {
    from {
        color: rgb(17, 17, 17);
    }

    to {
        color: whitesmoke;
    }
}

/*//////////////// BODY SECTION ///////////////////////*/
.divide-bar {
    padding: calc(12px + 1vw);
    background-color: whitesmoke;
}

a:link {
    text-decoration: none;
    color: whitesmoke;
}

p a:hover {
    font-style: italic;
    text-decoration: underline;
}

a:visited {
    text-emphasis: none;
    color: whitesmoke;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(7, 7, 10);
    color: whitesmoke;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: calc(2.25rem + 1.5vw);
    margin-bottom: 24px;
    padding-left: 11%;
    font-style: italic;

    @media (width <=960px) {
        padding-left: calc(12px + 2vw);
        padding-right: calc(24px + 2vw);
    }
}

p {
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25vw);
    font-family: Arial, Helvetica, sans-serif;
    display: flow-root;
    line-height: 130%;
    padding-right: 10%;
    padding-left: 11%;

    @media (width <=960px) {
        padding-left: calc(12px + 2vw);
        padding-right: calc(24px + 2vw);
    }
}

.thin-div {
    background: whitesmoke;
    width: 55%;
    margin-right: 50%;
    margin-left: 11%;
    margin-top: 3%;
    animation: none;
}

/*//////////////// IMAGES SECTION ///////////////////////*/
.abt-pic {
    max-width: 40%;
    height: auto;
    float: left;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 24px;
    padding-left: 9.5%;
    padding-right: 2.5%;
    animation: appear-fade ease-in;
    animation-timeline: view();
    animation-range: entry cover 30%;

    @media (width <=1540px) {
        max-width: 45%;
        padding-left: 8%;
        padding-top: calc(24px + 5%);
        padding-bottom: calc(24px + 5%);
    }

    @media (width <=1110px) {
        max-width: 100%;
        margin-left: 0;
        padding-left: 0;
        padding-top: 0;
    }
}

.contact-pic {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    float: left;
    height: auto;
    animation: appear-fade ease-in;
    animation-timeline: view();
    animation-range: entry cover 25%;

    @media (width <= 750px) {
        padding-top: 2.5%;
    }

    @media (width <= 450px) {
        padding-top: 20%;
    }
}

.linkedin {
    width: 25px;
    margin-right: 7px;
    margin-bottom: -6px;
}

.behance {
    width: 25px;
    margin-right: 7px;
    margin-bottom: -6px;
}

.discord {
    width: 40px;
    margin-right: 5px;
    margin-bottom: -5px;
}

.instagram {
    width: 25px;
    margin-right: 7px;
    margin-bottom: -6px;
}

/*//////////////// ABOUT SECTION ///////////////////////*/
.abt-container {
    background-color: whitesmoke;
    display: flexbox;
    padding-bottom: 1.25%;
}

.about-sect {
    color: rgb(7, 7, 10);
    margin-top: -12px;
    padding-top: 12px;
    padding-bottom: 3vw;
    text-align: left;
    vertical-align: middle;
}

.abt-title {
    padding-left: calc(12px + 2vw);
    animation: appear-slideRight linear;
    animation-timeline: view();
    animation-range: entry cover 40%;
    margin-bottom: 0;
}

p.about-txt {
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25vw);
    font-family: Arial, Helvetica, sans-serif;
    display: flow-root;
    padding-right: 10%;
    padding-left: 0;
    animation: appear-slideRight linear;
    animation-timeline: view();
    animation-range: entry cover 22.5%;

    @media (width <= 1110px) {
        padding-left: calc(12px + 2vw);
        padding-right: calc(24px + 2vw);
    }
}

/*//////////////// EXPERIENCE SECTION ///////////////////////*/
.exp-sect {
    padding-top: 2.5%;
    padding-bottom: 0.75vw;
}

.exp-title {
    animation: appear-slideUp linear;
    animation-timeline: view();
    animation-range: entry cover 40%;
}

.exp-desc {
    padding-bottom: 1.5%;
    animation: appear-slideUp linear;
    animation-timeline: view();
    animation-range: entry cover 30%;
}

.exp-content {
    display: flex;
    padding-bottom: 0.5%;

    @media (width <=650px) {
        flex-direction: column;
    }
}

.exp-radio {
    display: flex;
    width: 150px;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    padding-top: 5%;
    padding-bottom: 2.5%;
    padding-left: 14%;
    margin-right: 1%;

    @media (width <=960px) {
        padding-left: calc(36px + 2vw);
        padding-right: calc(12px + 2vw);
        width: 20%;
    }

    @media (width <=650px) {
        width: 100%;
        display: inline-block;
        justify-content: center;
        margin: 0;
        padding: 0;
        margin-left: -15px;
    }

    @media (width <=450px) {
        margin: 0;
        padding: 0;
    }
}

.exp-button {
    border: 2px solid whitesmoke;
    margin: 10px;
    margin-right: 15px;
    margin-left: 15px;
    width: clamp(2px, 25px, 30px);
    height: clamp(2px, 25px, 30px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: appear-slideRight ease-in;
    animation-timeline: view();
    animation-range: entry cover 30%;

    @media (width <=450px) {
        margin: 0;
        padding: 0;
        margin-top: 10px;
        margin-right: 20px;
    }

    @media (width <=405px) {
        width: 15px;
        height: 15px;
        margin: 0;
        margin-top: 18px;
        margin-right: 22px;
        padding: 0;
        border: 1px solid whitesmoke;
    }
}

.exp-button input {
    display: none;
}

.exp-button .checkmarked {
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background-color: whitesmoke;
    border-radius: 50%;
    display: inline-block;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.exp-button .checkmarked:hover {
    opacity: 50%;
}

.exp-button:hover {
    border: 2px solid rgb(204, 204, 209);
}

.exp-button:hover .checkmarked {
    opacity: 50%;
}

.exp-button:hover + label {
    font-weight: bold;
    color: rgb(211, 211, 212);
} 

.exp-button input:checked + .checkmarked {
    opacity: 1;
}

label {
    position: relative;
    margin-top: 14px;
    float: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: clamp(1.3rem, 0.95rem + 0.25vw, 1.3vw);
    animation: appear-slideRight linear;
    animation-timeline: view();
    animation-range: entry cover 30%;

    @media (width <=450px) {
        margin-right: 2px;
        margin-bottom: 0;
    }
}

label:hover {
    font-weight: bold;
    color: rgb(211, 211, 212);
}

.buttonwrap:hover {
    cursor: pointer;
}

.buttonwrap:hover .exp-button{
    border: 2px solid rgb(204, 204, 209);
    cursor: pointer;
}

.buttonwrap:hover .checkmarked {
    opacity: 50%;
}

.buttonwrap:hover .year-label {
    color: rgb(211, 211, 212);
    cursor: pointer;
}

input[type='radio']:checked + .checkmarked + label {
    font-weight: bold;
}

.buttonwrap {
    margin-bottom: -25%;

    @media (width <=450px) {
        margin: 0px;
        padding: 0px;
        display: block;
    }
}

.yrNav-container {
    margin-left: -5%;
    padding-top: 15%;
    margin-bottom: -5%;
    font-family: 'Courier New', Courier, monospace;
    font-size: clamp(0.8rem, 0.95rem + 0.25vw, 1.3vw);
    text-align: left;
    text-decoration: none;

    @media (width <=840px) {
        margin-left: 36px;
        padding: 0px;
    }

    @media (width <=650px) {
        width: 100%;
        display: inline-block;
        text-align: right;
        padding: 0px;
        margin: 0;
        margin-bottom: -90px;
        padding-top: 15px;
        padding-bottom: 90px;
    }

    @media (width <=500px) {
        margin: 0px;
        padding: 15px 0px;
    }
}

.yrNav-btn {
    font-size: large;
    font-weight: 200;
    padding: 3px 18px;
    padding-bottom: 3.5px;
    background-color: rgb(7, 7, 10);
    color: whitesmoke;
    border: solid 2.5px;
    border-color: whitesmoke;
    border-radius: 9px;
}

.yrNav-btn:hover {
    background-color: whitesmoke;
    color: rgb(7, 7, 10);
    cursor: pointer;
}

.exp-txt {
    display: block;
}

.exp-txt-container {
    width: 75%;
    float: right;
    height: 500px;
    margin-right: 15%;
    margin-left: 0.5%;
    color: whitesmoke;
    overflow-y: scroll;
    animation: appear-slideUp linear 1.2s;
    animation-timeline: view();
    animation-range: entry cover 45%;

    @media (width <=960px) {
        width: 100%;
        margin-left: 1.5%;
        margin-right: 10%;
        padding-top: 24px;
    }

    &::-webkit-scrollbar-track {
        background-color: rgb(17, 17, 17);
    }
    
    
    &::-webkit-scrollbar-thumb {
        background: rgb(255, 255, 255);
    }
    
}

.exp-txt {
    padding-right: calc(12px + 1vw);
}

.exp-txt h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: calc(2.25rem + 1.5vw);
    margin-bottom: 1.5%;
    margin-top: -10px;

    @media (width <=960px) {
        padding-left: calc(12px + 2vw);
        padding-right: calc(24px + 2vw);
    }
}

.exp-subsect {
    width: 98%;
    height: auto;
    margin-left: 0.5%;
    margin-top: calc(24px + 0.5%);
    color: whitesmoke;
    border-radius: 10px;
    background-color: rgb(17, 17, 17);
    animation: appear-slideUp 0.8s linear;
    animation-timeline: view();
    animation-range: entry cover 17%;

    @media (width <=960px) {
        margin-left: 1.5%;
        margin-right: 10%;
    }
}

.exp-subsect h3 {
    font-size: calc(24px + 0.5vw);
    margin-left: 5%;
    padding-top: calc(6px + 3%);
    margin-bottom: calc(-12px - 0.25%);
    animation: colorLoad 0.7s ease;
    animation-timeline: view();
    animation-range: entry cover 25%;
}

.exp-subsect:last-child {
    margin-bottom: 5%;
}

.exp-subsect p {
    padding: 0px;
    margin-left: 5%;
    margin-bottom: -6px;
    font-size: calc(12px + 0.25vw);
    font-family: Arial, Helvetica, sans-serif;
    animation: colorLoad 0.7s ease;
    animation-timeline: view();
    animation-range: entry cover 25%;
}

.exp-list li {
    font-family: 'Courier New', Courier, monospace;
    padding-right: calc(12px + 3%);
    padding-bottom: 8px;
    line-height: normal;
    display: flex;
    overflow: hidden;
    margin-left: 1%;
    animation: loading 0.4s;
}

.exp-list li:last-child {
    text-decoration: double;
    padding-bottom: calc(12px + 3%);
}

hr {
    width: 75%;
    margin-left: 5%;
    margin-top: 15px;
    border: 2px dotted;
    animation: lineLoad 0.5s steps(40);
}

/*//////////////// PROJECTS SECTION ///////////////////////*/
.project-sect {
    padding-top: 1.5%;
    padding-bottom: 4vw;
}

.project-sect h2{
    animation: appear-slideUp linear;
    animation-timeline: view();
    animation-range: entry cover 40%;
}

.project-sect p{
    animation: appear-slideUp linear;
    animation-timeline: view();
    animation-range: entry cover 30%;
    padding-bottom: 5%;
}

.project-button {
    font-family: 'Courier New', Courier, monospace;
    font-size: clamp(0.8rem, 0.95rem + 0.25vw, 1.3vw);
    text-align: center;
    text-decoration: none;
    float: right;
    padding: 20px;
    margin-right: 10%;
    background-color: rgb(7, 7, 10);
    color: whitesmoke;
    border: solid 2.5px whitesmoke;
    border-radius: 10px;
    animation: appear-fade linear;
    animation-timeline: view();
    animation-range: entry cover 10%;
}

.project-button:hover {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    background-color: whitesmoke;
    color: rgb(7, 7, 10);
    cursor: pointer;
}

/*//////////////// CONTACT SECTION ///////////////////////*/
.contact-sect {
    background-color: whitesmoke;
    width: 100%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin-top: 10%;
    color: rgb(7, 7, 10);
    display: flex;
    flex-direction: column;
}

.contact-sect h2{
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    margin-bottom: 1rem;
    text-align: center;
    animation: appear-slideUp ease-in;
    animation-timeline: view();
    animation-range: entry cover 30%;
}

.contact-sect p {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-bottom: calc(1.5% + 1.5vw);
    text-align: center;
    animation: appear-slideUp ease-in;
    animation-timeline: view();
    animation-range: entry cover 30%;
}

.cntct-subsect {
    display: flex;
    padding-bottom: 3vw;
    justify-content: center;

    @media (width <= 750px) {
        flex-direction: column;
    }
}

.cntct-form {
    color: whitesmoke;
    background-color: rgb(7, 7, 10);
    border: solid 2px rgb(7, 7, 10);
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 2.5%;
    width: 45%;
    height: 800px;
    display: flex;
    flex-direction: column;
    animation: appear-slideRight linear;
    animation-timeline: view();
    animation-range: entry cover 25%;

    @media (width <= 750px) {
        width: 90%;
        justify-content: center;
        padding-top: 2.5%;
        margin: 0;
        margin-left: 5%;
    }
}

.cntct-form form{
    height: inherit;
    margin: 3rem;
    margin-left: 2.25rem;
    animation: appear-slideUp linear;
    animation-timeline: view();
    animation-range: entry cover 25%;
}

.cntct-form form label{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25rem;
    float: none;
    margin-left: 0.25rem;
    animation: appear-slideRight ease-in;
    animation-timeline: view();
    animation-range: entry cover 30%;
}

.cntct-form form label:hover{
    font-weight: 100;
    color:whitesmoke;
}

.cntct-form input[type="text"], input[type="email"], select, textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    width: 100%;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    background-color: rgb(17, 17, 17);
    color: rgb(68, 68, 68);
    border-radius: 10px;
    border: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}

.cntct-form input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    color: whitesmoke;
}

.cntct-form input[type="text"]:hover, input[type="email"]:hover, select:hover, textarea:hover {
    background-color: rgb(29, 29, 29);
}

.cntct-form select {
    color: whitesmoke;
    margin-bottom: 1.5rem;
}

.cntct-form textarea {
    resize: none;
    height: 350px;
    padding-top: 0.5rem;
    overflow: hidden;
}

.cntct-form input[type="submit"] {
    font-family: 'Courier New', Courier, monospace;
    font-size: clamp(0.8rem, 1.1rem, 1.3vw);
    text-align: center;
    text-decoration: none;
    float: right;
    margin-right: -1%;
    padding: 10px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(7, 7, 10);
    color: whitesmoke;
    border: solid 2.5px;
    border-color: whitesmoke;
    border-radius: 9px;
    animation: appear-slideUp ease-in;
    animation-timeline: view();
    animation-range: entry cover 10%;
}

.cntct-form input[type="submit"]:hover {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    background-color: whitesmoke;
    color: rgb(7, 7, 10);
    cursor: pointer;
}

.cntct-content {
    margin-left: 2.5%;
    margin-right: 5%;
    width: 45%;
    height: 800px;
    display: flex;
    flex-direction: column;
    animation: appear-slideUp ease-in;
    animation-timeline: view();
    animation-range: entry cover 25%;
    float: inline-end;

    @media (width <= 750px) {
        width: 90%;
        height: 650px;
        justify-content: center;
        padding-top: 5%;
        padding-bottom: 5%;
        margin: 0;
        margin-left: 5%;
    }

    @media (width <= 450px) {
        padding-bottom: 25%;
    }
}

.cntct-content h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1rem, 3.5rem, 5rem);
    margin: 0;
    margin-top: 1.5%;
    text-align: center;
    animation: appear-slideUp ease-in;
    animation-timeline: view();
    animation-range: entry cover 25%;
}

.cntct-content p {
    text-align: center;
    margin: 0;
    padding: 0;
    animation: appear-slideUp ease-in;
    animation-timeline: view();
    animation-range: entry cover 10%;
}

.cntct-content p:last-of-type {
    margin-bottom: 2.5%;
}

.socials {
    color: whitesmoke;
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 1%;
    flex-direction: column;
    justify-content: center;

    @media (width <= 750px) {
        width: 90%;
        justify-content: center;
        padding-top: 2.5%;
        margin-left: auto;
        margin-right: auto;
    }
}

.socials .project-button {
    font-family: 'Courier New', Courier, monospace;
    border: solid 2px rgb(7, 7, 10);
    background-color: whitesmoke;
    color: rgb(7, 7, 10);
    margin: 0;
    width: 100%;
    margin-bottom: 2.5%;
    text-align: center;
    font-weight: bold;
    animation: appear-slideLeft ease-in;
    animation-timeline: view();
    animation-range: entry cover 10%;
}

.socials .project-button:hover {
    background-color: rgb(7, 7, 10);
    color: whitesmoke;
}

/*//////////////// FOOTER ///////////////////////*/

footer p{
    float: right;
    margin: 0;
    padding: 0;
    padding: 1% 1.5% 1%;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(201, 200, 200);
}